services:
  cloudflared:
    container_name: cloudflared
    image: cloudflare/cloudflared:2025.4.2
    command: tunnel run
    env_file: .env
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_API_TUNNEL_TOKEN}
    restart: unless-stopped
    networks:
      - homelab

networks:
  homelab:
    external: true
