# Ignore local development files
**/.vscode
**/.DS_Store

# Docker Secrets, Environment Files
**/secret.*
**/.env
**/.envrc

**/docker/data

# OpenTofu / Terraform
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.backup
**/*.tfstate.*.backup
**/crash.log
**/crash.*.log
**/terraform.tfvars
**/.terraform.tfstate.lock.info

# Ansible
**/retry-files/
**/*.retry

# Repomix
repomix-output.xml
repomix.xml

node_modules/
