services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:2.30.0-alpine
    ports:
      - 9443:9443
    volumes:
      - ${PWD}/docker/data/portainer:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    networks:
      - homelab

networks:
  homelab:
    name: homelab
    external: true
