---
services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:2.33.6-alpine
    ports:
      - 9443:9443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      - homelab
    restart: unless-stopped

volumes:
  portainer_data:
    name: portainer_data
    driver: local

networks:
  homelab:
    name: homelab
    external: true
