---
services:
  rabbitmq:
    image: rabbitmq:3.13.2-management-alpine
    container_name: rabbitmq
    restart: always
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}
    ports:
      - '4369:4369'
      - '5672:5672'
      - '25672:25672'
      - '15672:15672'
    networks:
      - caddy_network

networks:
  caddy_network:
    name: caddy_network
    external: true
