services:
  homepage:
    container_name: homepage
    image: ghcr.io/gethomepage/homepage:latest
    env_file: .env
    environment:
      PUID: ${PUID-1000}
      PGID: ${PGID-1000}
      HOMEPAGE_ALLOWED_HOSTS: homepage.local.wywiol.eu
    volumes:
      - ./config:/app/config
    ports:
      - 3000:3000
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - homelab

networks:
  homelab:
    external: true
