{
    local_certs
    admin 0.0.0.0:2019
}

*.local.wywiol.eu {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
        propagation_delay 2m
        resolvers 1.1.1.1
    }

    @portainer host portainer-x202.local.wywiol.eu
    handle @portainer {
        reverse_proxy https://portainer:9443 {
            transport http {
                tls
                tls_insecure_skip_verify
            }
        }
    }

    @pgadmin host pgadmin.local.wywiol.eu
    handle @pgadmin {
        reverse_proxy http://pgadmin:80
    }

    @n8n host n8n.local.wywiol.eu
    handle @n8n {
        reverse_proxy http://n8n:5678
    }

    @grafana host grafana.local.wywiol.eu
    handle @grafana {
        reverse_proxy http://grafana:3000
    }

    @influxdb host influxdb.local.wywiol.eu
    handle @influxdb {
        reverse_proxy 192.168.0.107:8086
    }

    @redis host redis.local.wywiol.eu
    handle @redis {
        reverse_proxy http://redis:8001
    }

    @mongo host mongo.local.wywiol.eu
    handle @mongo {
        reverse_proxy http://mongo-express:8081
    }

    @k6 host k6.local.wywiol.eu
    handle @k6 {
        root * /usr/share/caddy/k6/dashboards
        file_server browse
    }

    @sonarqube host sonarqube.local.wywiol.eu
    handle @sonarqube {
        reverse_proxy http://sonarqube:9000
    }

    @sonarqube_prod host sonarqube.wywiol.eu
    handle @sonarqube_prod {
        reverse_proxy http://sonarqube:9000
    }

    @glitchtip host glitchtip.local.wywiol.eu
    handle @glitchtip {
        reverse_proxy http://glitchtip_web:8000
    }

    @wakapi host wakapi.local.wywiol.eu
    handle @wakapi {
        reverse_proxy http://wakapi:3000
    }

    @beszel host beszel.local.wywiol.eu
    handle @beszel {
        reverse_proxy http://beszel:8090
    }

    @uptime host uptime.local.wywiol.eu
    handle @uptime {
        reverse_proxy http://uptime-kuma:3001
    }

    @ntfy host ntfy.local.wywiol.eu
    handle @ntfy {
        reverse_proxy http://ntfy:80
    }

    @app host app.local.wywiol.eu
    handle @app {
        reverse_proxy 192.168.0.50:3000
    }
}

