# Local OpenTofu/Terraform files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
crash.log
crash.*.log
.terraform.tfstate.lock.info

# Secrets
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc
